# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional: Testing
coverage/

# Optional: Build output
build/
dist/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

address_book.json
contact_book.json